body {
  background-color: pink;
}
button {
  border-radius: 30px;
  background-color: green;
}
img {
  border-radius: 50%;
}
nav a {
  text-decoration: none;
  color: pink;
  margin: 150px;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: bold;
  background-color: green;
}
